// @font-face {
//   font-family: "Akkurat-Light";
//   src: font-files('fonts/Akkurat-Light.otf', 'fonts/Akkurat-Light.ttf');
// }
// @font-face {
//   font-family: "Akkurat-Bold";
//   src: font-files('fonts/Akkurat-Bold.otf', 'fonts/Akkurat-Bold.ttf');
// }

$break-small: 320px;
$break-iPhone-plus: 400px;
$break-medium: 750px;
$break-large: 1200px;

.video-column-container {
  flex-direction: column;
  @media screen and (min-width: $break-medium) {
    flex-direction: row;
  }
}

.video-column {
  transition: all .5s ease-in-out;
  &:hover {
    z-index: 7;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  &:nth-child(2) {
    margin: 2px 0;
    @media screen and (min-width: $break-medium) {
      margin: 0 5px;
    }
  }
}

.video-column-link {
  // transition: all .5s ease-in-out;
  color: white;
  // font-weight: bold;
  // border: solid white 5px;
  &:hover {
    // color: black;
    // background-color: white;
    cursor: pointer;
    // -webkit-transform: scale(1.5);
    // -ms-transform: scale(1.5);
    // transform: scale(1.5);
    // -webkit-animation: rainbow 2s infinite;
    // -ms-animation: rainbow 2s infinite;
    // // -o-animation:rainbow 1s infinite;
    // animation: rainbow 2s infinite;
  }
}

.contact-us {
  // font-family: 'Akkurat-Bold';
  font-size: 3.25em;
  margin: 0;
  color: #1A1919;
}

.email {
  // font-family: "Akkurat-Light";
  font-size: 1.5em;
  color: #1A1919;
}

.social-icons {
  transition: all .5s ease-in-out;
  &:hover {
    fill: #E89CBA;
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
  }
}

hr {
  height: 1px;
  background-color: black;
  border: none;
}

body {
  margin: 0;
  padding: 0;
}

// @-webkit-keyframes rainbow {
// 0% {color: #ff0000;}
// 10% {color: #ff8000;}
// 20% {color: #ffff00;}
// 30% {color: #80ff00;}
// 40% {color: #00ff00;}
// 50% {color: #00ff80;}
// 60% {color: #00ffff;}
// 70% {color: #0080ff;}
// 80% {color: #0000ff;}
// 90% {color: #8000ff;}
// 100% {color: #ff0080;}
// }
// @-ms-keyframes rainbow {
// 0% {color: #ff0000;}
// 10% {color: #ff8000;}
// 20% {color: #ffff00;}
// 30% {color: #80ff00;}
// 40% {color: #00ff00;}
// 50% {color: #00ff80;}
// 60% {color: #00ffff;}
// 70% {color: #0080ff;}
// 80% {color: #0000ff;}
// 90% {color: #8000ff;}
// 100% {color: #ff0080;}
// }
// // @-o-keyframes rainbow {
// // 0% {color: #ff0000;}
// // 10% {color: #ff8000;}
// // 20% {color: #ffff00;}
// // 30% {color: #80ff00;}
// // 40% {color: #00ff00;}
// // 50% {color: #00ff80;}
// // 60% {color: #00ffff;}
// // 70% {color: #0080ff;}
// // 80% {color: #0000ff;}
// // 90% {color: #8000ff;}
// // 100% {color: #ff0080;}
// // }
// @keyframes rainbow {
// 0% {color: #ff0000;}
// 10% {color: #ff8000;}
// 20% {color: #ffff00;}
// 30% {color: #80ff00;}
// 40% {color: #00ff00;}
// 50% {color: #00ff80;}
// 60% {color: #00ffff;}
// 70% {color: #0080ff;}
// 80% {color: #0000ff;}
// 90% {color: #8000ff;}
// 100% {color: #ff0080;}
// }
