.video-column {
  transition: all .5s ease-in-out;
  &:hover {
    z-index: 2;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.video-column-link {
  transition: all .5s ease-in-out;
  color: white;
  font-weight: bold;
  border: solid white 5px;
  &:hover {
    color: black;
    background-color: white;
    cursor: pointer;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
}
